.navbar3-wrapper {
  display: contents;
}
.navbar3-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar3-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: idth;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.navbar3-image1 {
  height: 3rem;
}
.navbar3-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navbar3-links1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navbar3-icon-group1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
}
.navbar3-link {
  display: contents;
}
.navbar3-icon10 {
  display: none;
  text-decoration: none;
}
.navbar3-burger-menu {
  display: none;
}
.navbar3-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar3-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar3-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar3-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar3-logo {
  height: 3rem;
}
.navbar3-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar3-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar3-links2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.navbar3-icon-group2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
.varinha-fragment14 {
  display: contents;
}
.varinha-text14 {
  display: inline-block;
}
.varinha-fragment11 {
  display: contents;
}
.varinha-text11 {
  display: inline-block;
}
.varinha-fragment12 {
  display: contents;
}
.varinha-text12 {
  display: inline-block;
}
.varinha-fragment10 {
  display: contents;
}
.varinha-text10 {
  display: inline-block;
}
.varinha-fragment13 {
  display: contents;
}
.varinha-text13 {
  display: inline-block;
}
@media (max-width: 767px) {
  .navbar3-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar3-desktop-menu {
    display: none;
  }
  .navbar3-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 479px) {
  .navbar3-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar3-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}

.blog-post-header5-wrapper {
  display: contents;
}
.blog-post-header5-blog-post-header3 {
  display: flex;
  position: relative;
  align-items: center;
}
.blog-post-header5-image {
  width: 100%;
  object-fit: cover;
}
.blog-post-header5-max-width {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: 100%;
  display: flex;
}
.blog-post-header5-section-title {
  flex: 1;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.blog-post-header5-title1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.blog-post-header5-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.blog-post-header5-title2 {
  fill: var(--dl-color-theme-primary1);
  color: var(--dl-color-theme-primary1);
}
.varinha-fragment15 {
  display: contents;
}
.varinha-text15 {
  display: inline-block;
}
@media (max-width: 767px) {
  .blog-post-header5-max-width {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
}
@media (max-width: 479px) {
  .blog-post-header5-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .blog-post-header5-title1 {
    align-items: center;
  }
  .blog-post-header5-content {
    align-items: flex-start;
  }
  .blog-post-header5-title2 {
    text-align: center;
  }
}

.content-list1-wrapper {
  display: contents;
}
.content-list1-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-theme-primary1);
}
.content-list1-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.content-list1-content {
  align-self: stretch;
  align-items: flex-start;
}
.content-list1-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.content-list1-video {
  width: 320px;
  height: 180px;
}
.content-list1-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.content-list1-ul {
  align-items: flex-start;
}
.content-list1-heading1 {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  align-self: flex-start;
}
.content-list1-content1 {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
}
.content-list1-heading2 {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
}
.content-list1-content2 {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
}
.varinha-fragment18 {
  display: contents;
}
.varinha-text18 {
  display: inline-block;
}
.varinha-fragment17 {
  display: contents;
}
.varinha-text17 {
  display: inline-block;
}
.varinha-fragment16 {
  display: contents;
}
.varinha-text16 {
  display: inline-block;
}
.varinha-fragment19 {
  display: contents;
}
.varinha-text19 {
  display: inline-block;
}

.footer3-wrapper {
  display: contents;
}
.footer3-footer4 {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.footer3-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer3-content {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.footer3-logo {
  gap: 24px;
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer3-image1 {
  height: 2rem;
}
.footer3-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
}
.footer3-social-links {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}
.footer3-credits {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.footer3-row {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.footer3-footer-links {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
}
.varinha-fragment21 {
  display: contents;
}
.varinha-text21 {
  display: inline-block;
}
.varinha-fragment23 {
  display: contents;
}
.varinha-text23 {
  display: inline-block;
}
.varinha-fragment22 {
  display: contents;
}
.varinha-text22 {
  display: inline-block;
}
.varinha-fragment25 {
  display: contents;
}
.varinha-text25 {
  display: inline-block;
}
.varinha-fragment26 {
  display: contents;
}
.varinha-text26 {
  display: inline-block;
}
.varinha-fragment24 {
  display: contents;
}
.varinha-text24 {
  display: inline-block;
}
.varinha-fragment20 {
  display: contents;
}
.varinha-text20 {
  display: inline-block;
}
.varinha-fragment27 {
  display: contents;
}
.varinha-text27 {
  display: inline-block;
}
@media (max-width: 991px) {
  .footer3-logo {
    width: auto;
  }
}
@media (max-width: 767px) {
  .footer3-content {
    flex-direction: column;
  }
  .footer3-row {
    flex-direction: column;
  }
  .footer3-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 479px) {
  .footer3-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer3-content {
    width: 100%;
  }
  .footer3-links {
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.varinha-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #e8d8bc;
}
.varinha-fragment10 {
  display: contents;
}
.varinha-text10 {
  display: inline-block;
}
.varinha-fragment11 {
  display: contents;
}
.varinha-text11 {
  display: inline-block;
}
.varinha-fragment12 {
  display: contents;
}
.varinha-text12 {
  display: inline-block;
}
.varinha-fragment13 {
  display: contents;
}
.varinha-text13 {
  display: inline-block;
}
.varinha-fragment14 {
  display: contents;
}
.varinha-text14 {
  display: inline-block;
}
.varinha-fragment15 {
  display: contents;
}
.varinha-text15 {
  display: inline-block;
}
.varinha-fragment16 {
  display: contents;
}
.varinha-text16 {
  display: inline-block;
}
.varinha-fragment17 {
  display: contents;
}
.varinha-text17 {
  display: inline-block;
}
.varinha-fragment18 {
  display: contents;
}
.varinha-text18 {
  display: inline-block;
}
.varinha-fragment19 {
  display: contents;
}
.varinha-text19 {
  display: inline-block;
}
.varinha-fragment20 {
  display: contents;
}
.varinha-text20 {
  display: inline-block;
}
.varinha-fragment21 {
  display: contents;
}
.varinha-text21 {
  display: inline-block;
}
.varinha-fragment22 {
  display: contents;
}
.varinha-text22 {
  display: inline-block;
}
.varinha-fragment23 {
  display: contents;
}
.varinha-text23 {
  display: inline-block;
}
.varinha-fragment24 {
  display: contents;
}
.varinha-text24 {
  display: inline-block;
}
.varinha-fragment25 {
  display: contents;
}
.varinha-text25 {
  display: inline-block;
}
.varinha-fragment26 {
  display: contents;
}
.varinha-text26 {
  display: inline-block;
}
.varinha-fragment27 {
  display: contents;
}
.varinha-text27 {
  display: inline-block;
}

li {
  list-style: none;
}
