.content-list1-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-theme-primary1);
}
.content-list1-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.content-list1-content {
  align-self: stretch;
  align-items: flex-start;
}
.content-list1-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.content-list1-video {
  width: 320px;
  height: 180px;
}
.content-list1-container3 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.content-list1-ul {
  align-items: flex-start;
}
.content-list1-heading1 {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  align-self: flex-start;
}
.content-list1-content1 {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
}
.content-list1-heading2 {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
}
.content-list1-content2 {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
}
.content-list1-fragment1 {
  display: contents;
}
.content-list1-text1 {
  display: inline-block;
}
.content-list1-fragment2 {
  display: contents;
}
.content-list1-text2 {
  display: inline-block;
}
.content-list1-fragment3 {
  display: contents;
}
.content-list1-text3 {
  display: inline-block;
}
.content-list1-fragment4 {
  display: contents;
}
.content-list1-text4 {
  display: inline-block;
}
